<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p=" http://www.springframework.org/schema/p" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           	http://www.springframework.org/schema/beans/spring-beans.xsd
           	http://www.springframework.org/schema/context
           	http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx
       		http://www.springframework.org/schema/tx/spring-tx.xsd
        	http://www.springframework.org/schema/mvc 
   			http://www.springframework.org/schema/mvc/spring-mvc.xsd
   			http://www.springframework.org/schema/jdbc
   			http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
   			http://www.springframework.org/schema/task
   			http://www.springframework.org/schema/task/spring-task.xsd
   			http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
   			http://www.springframework.org/schema/util
   			http://www.springframework.org/schema/util/spring-util-3.0.xsd">
   			
   	<context:annotation-config />
   	<mvc:annotation-driven />
   	<context:component-scan base-package="com.manh" />
    
    <mongo:mongo/>
	<mongo:db-factory />
	<mongo:repositories base-package="com.manh.fedex.sdn.repo" /> 
 	<mongo:mapping-converter id="converter" />
 	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
	
	<bean id="gridFsTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
    
    
</beans>